.navbar{
    margin: 0;
    }
.fornavbar{
background-color: #e6b378;
background-image: linear-gradient(224deg,#9d8c6c7a,transparent);
}

.content{
background-color: #2c261d;
color: rgb(239, 236, 229);
}

.forh1 {
    font-size: 60px;
    
    /* font-family: ui-sans-serif; */
    margin:4% 4% 0 5%;
}
.card{
    background-color: rgb(230 197 119);
    margin: 38px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-items: center;
    border-radius: 10px;
    padding-left: 60px;
}

.cardcontainer{
display: flex;
flex-direction: column;
margin-left: 5%;
margin-bottom: 6%;
}

.cardcontainer img{
height:80px; 
width:80px;
margin: 40px;
}

.card p{
font-size: 25px;
color: black;
margin-left: 32px;
}

.footer{
background-color: #e6b378;
background-image: linear-gradient(224deg,#8d877d7a,transparent);
padding-left: 40%;
}
li{
list-style:none;
}
